
<h3 style="margin: 0 0 10px 5px;"> About this Software </h3>
<p style="padding:15px; background-color: #EBE9CC;">Use this application to raise issues regarding the listed categories. You can submit a ticket and an admin who knows the answer to you problem can solve it by marking it as solved or can take ownership</p>