/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require twitter/bootstrap
 *= require_tree . 
*/

.extra_navs {
	text-align: left;
	margin: 0;
	padding: 0 0 0 75px;
	background: #CCC;
	height: 50px;
}
.extra_navs .my-nav a {
  color: #900;
  display: inline-block;
  padding-right: 20px;
  margin-top: 10px;
  font-weight: bold;

}

.extra_navs .my-nav a:hover {
	color: red;
	text-decoration: none;
}
p {
	text-align:justify;
}
.contact_address {
	border: 1px solid #CCCCCC;
	width: fit-content;
	padding: 20px;
	margin-top: 20px;
}
.version_num {
	font-size: 12px;
	text-transform: lowercase;
	font-style: italic;
}